.logout {
    margin: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 33px;
    line-height: 39px;
    /* identical to box height */
    
    
    color: #000000;

    position: relative;
    left: 72%;
    top: 35%; 

}