/* 
.btn {
    background-color: #3f51b5;
    padding: 5px 10px;
    color: white;
    font-size: 12px;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid #a6aac391;
    margin-bottom: 15px;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    position: relative;
    top: 0px;
    right: 0px;
}


.form_table {
    text-align: "left";
} */